#footer {
  background-color: #383838;
  padding: rem-calc(60 0);
  padding-bottom: rem-calc(40); 

  @include breakpoint(medium) {
    padding: rem-calc(90 0);
    padding-bottom: rem-calc(50);
  }

  @include breakpoint(large) {
    padding: rem-calc(120 0);
    padding-bottom: rem-calc(80);
  }

  .copyrights {
    font-family: Barlow;
    font-weight: bold;
    color: #999;
    text-align: center;
    padding-top: rem-calc(25);
    width: 100%;

    @include breakpoint(medium) {
      padding-top: rem-calc(40);
    }
  }
}

@import '../components/footer-widget';

.scrollup {
  display: none;
  position: fixed;
  bottom: rem-calc(24);
  right: rem-calc(24);
  background-color: $accent;
  color: #000;
  font-size: rem-calc(18);
  border-radius: 50%;
  width: rem-calc(54);
  height: rem-calc(54);
  line-height: rem-calc(54);
  text-align: center;

  &:hover {
    color: #000;
    background-color: darken($accent, 10%);
  }
}