.top-bar {
  @include show-for(medium);
  height: rem-calc(130);
  width: 100%
}

.title-bar {
  width: 100%;
}

.title-bar-left {
  display: flex;
  justify-content: space-between;
  align-items: center
}

// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.top-bar .top-bar-right {
  a {
    font-family: Roboto;
    font-size: rem-calc(14);
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
  }

  a:hover {
    color: $accent;
  }
}

.title-bar .menu-icon {
  width: rem-calc(30);
}

.mobile-off-canvas-menu a {
  color: #3f4448;
  font-size: rem-calc(15);
}

.mobile-off-canvas-menu li {
  border-bottom: 1px solid #ebebeb;
}