.contact-details {
    text-align: center;

    @include breakpoint(medium) {
        text-align: left;
    }

    h4 {
        @include breakpoint(medium down) {
            font-size: rem-calc(24);
        }
    }
}

.contact-form {
    h4 {
        margin-bottom: rem-calc(20);
    }

    input:not([type=submit]), textarea {
        margin-bottom: rem-calc(8) !important;
        background-color: transparent;
        border: 1px solid #e7e7e7;
        border-radius: rem-calc(4);

        &:focus {
            background-color: transparent;
            border-color: #000;
        }
    }

    textarea {
        margin-bottom: rem-calc(24) !important;
        height: rem-calc(165);
    }
}

.iframe-map {
    iframe {
        height: rem-calc(300);

        @include breakpoint(medium) {
            height: rem-calc(750);
        }
    }
}