.front-slider-container {
    position: relative;

    @include breakpoint(large) {
        max-height: rem-calc(800);
    }

    &:hover .slick-arrow {
        opacity: 1;
    }

    .front-slider__overlay {
        position: relative;
        padding: rem-calc(40 16);
        padding-bottom: rem-calc(70);
        display: flex;
        align-items: center;
        background-color: rgba(0,0,0,0.4);
        z-index: 50;

        @include breakpoint(small only) {
            .grid-container .grid-x {
                flex-direction: column;
            }
        }

        @include breakpoint(medium) {
            min-height: rem-calc(600);
        }

        .grid-container {
            width: 100%;

            @include breakpoint(small only) {
                max-width: rem-calc(345);
                margin: 0 auto;
            }
        }

        .front-slider__subheading {
            color: #fff;
            text-transform: uppercase;
            font-size: rem-calc(12);
            font-weight: 600;
            margin-bottom: rem-calc(10);

            @include breakpoint(medium) {
                letter-spacing: rem-calc(2);
            }
        }
        
        .front-slider__heading {
            font-size: rem-calc(46);
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            line-height: 1.15;
            margin: 0;
            margin-top: rem-calc(20);

            @include breakpoint(medium) {
                font-size: rem-calc(60);
                margin-top: 0;
            }

            @include breakpoint(large) {
                font-size: rem-calc(80);
            }
        }

        .front-slider__location {
            @include font-zillo;
            font-weight: 400;
            font-size: rem-calc(15);
            line-height: rem-calc(18);
            max-width: rem-calc(280);
            margin-bottom: rem-calc(14);
            color: #fff;

            @include breakpoint(medium) {
                font-size: rem-calc(24);
                line-height: rem-calc(36);
                max-width: rem-calc(460);
                margin-bottom: rem-calc(25);
            }
        }

        .front-slider__above-price {
            font-size: rem-calc(9);
            font-weight: 600;
            color: #fff;
            margin-bottom: rem-calc(8);
            text-transform: uppercase;

            @include breakpoint(medium) {
                font-size: rem-calc(12);
                letter-spacing: rem-calc(2);
                margin-bottom: rem-calc(4);
            }
        }

        .front-slider__price {
            color: $accent;
            line-height: 1;
            margin-bottom: 0;
            font-weight: bold;

            @include breakpoint(medium down) {
                font-size: rem-calc(28);
            }
        }

        a.button {
            margin-top: rem-calc(16);
            margin-bottom: 0;

            @include breakpoint(medium) {
                margin-top: rem-calc(36);
            }
        }

        .left-col {
            padding-right: rem-calc(35);

            @include breakpoint(medium) {
                border-right: 1px solid #fff;
                padding-right: 0;
            }

            @include breakpoint(large) {
                padding-left: rem-calc(16);
            }

            @include breakpoint(xlarge) {
                @include xy-cell(4);
            }
        }

        .right-col {
            padding: rem-calc(10 0);
            order: -1;

            @include breakpoint(medium) {
                padding-left: rem-calc(50);
                order: 2;
            }
        }

        .dots {
            margin-top: rem-calc(26);
        }

        .yellow {
            color: $accent;

            @include breakpoint(medium down) {
                letter-spacing: -4px;
            }
        }
    }
}
.front-slider {
    @include position(absolute, 0, 0, 0, 0);

    // position: relative;
    display: flex;
    // min-height: rem-calc(570);

    @include breakpoint(large) {
        max-height: rem-calc(800);
    }

    &:not(.slick-initialized) .front-slider__item:not(:first-child) {
        display: none;
    }

    // .slick-track {
    //     display: flex !important;
    // }

    // .slick-slide {
    //     height: auto;
    // }

    .slick-list,
    .slick-track {
        height: 100% !important;
    }


    // .slick-list,
    // .slick-slide,
    // .slick-track {
    //     // min-height: rem-calc(570) !important;
    //     @include breakpoint(large) {
    //         max-height: rem-calc(800);
    //     }
    // }

    .slick-dots {
        position: absolute;
        bottom: 0;
        left: 50%;
        list-style: none;
        display: flex;
        margin-left: 0;
        transform: translateX(-50%);
        z-index: 101;

        button {
            width: rem-calc(16);
            height: rem-calc(16);
            border: 2px solid #fff;
            border-radius: 50%;
            text-indent: -9999px;
            margin: rem-calc(0 5);
            transition: 0.3s ease-out;
        }

        li.slick-active button {
            background-color: #fff;
        }
    }

    .slick-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 0;
        width: rem-calc(90);
        height: rem-calc(90);
        border-radius: 0;
        background-color: rgba(0,0,0,0.25);
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 100;
        opacity: 0;
        transition: 0.3s ease-out;

        &:hover {
            background-color: #fff;

            i {
                color: #000;
            }
        }

        i {
            color: #fff;
            font-size: rem-calc(24);
        }
    }

    .slick-next {
        right: 0;
        left: auto;
    }

    &__item {
        flex: 1;
        max-height: rem-calc(800);
    }

    &__item img {
        object-fit: cover;
        width: 100%;   
        height: 100%;
        // min-height: rem-calc(570);
    }
}