.slider-testimonials {
    &:not(.slick-initialized) .testimonial-item:not(:first-child) {
        display: none;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: transparent;
        border-radius: 50%;
        width: rem-calc(65);
        height: rem-calc(65);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: rem-calc(36);
        cursor: pointer;
        z-index: 5;
        transition: 0.3s ease-out;
        opacity: 0;

        &:hover {
            background-color: $accent;
        }
    }

    &:hover .slick-arrow {
        opacity: 1;
    }

    .slick-arrow.slick-next {
        left: auto;
        right: 0;
        transform: translateY(-50%);
    }

    .testimonial-item {
        &__inner {
            display: block;
            margin: 0 auto;
            text-align: center;
            max-width: rem-calc(760);
        }

        &__content {
            font-size: rem-calc(30);
            line-height: rem-calc(40);
            margin-bottom: rem-calc(70);
        }

        &__client {
            font-size: rem-calc(18);
            font-weight: 700;
            margin-bottom: rem-calc(10);
        }

        &__title {
            color: #999;
            font-size: rem-calc(14);
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 0;
        }
    }
}